<div *ngIf="!authorized" class="container p-4">
    <div class="alert alert-warning m-3 text-center" role="alert">
        <strong> Login first! </strong>
    </div>
</div>

<div *ngIf="authorized" class="container">
    <h1 class="text-center">Create new secret</h1>
    <form [formGroup]="createForm" (ngSubmit)="create()">
        <input type="text" name="title" class="form-control mb-3" placeholder="Title" formControlName="title">
        <div *ngIf="title?.touched && title?.getError('required')" class="alert alert-danger" role="alert">
            Title is required!  
        </div>
        <div *ngIf="title?.touched && title?.getError('maxLength')" class="alert alert-danger" role="alert">
            Title can only be less than 64 characters long!
        </div>
        <input type="text" class="form-control mb-3" placeholder="Text" formControlName="text">
            <div *ngIf="text?.touched && text?.invalid" class="alert alert-danger" role="alert">
                Text is required!  
          </div>
        <div class="row mb-3 ">
            
            <div class="col text-center">
                <button type="submit" *ngIf="showCreateBTN"[disabled]="createForm.invalid" class="btn btn-lg btn-primary">Create</button>
                <div class="text-center" *ngIf="showLoading">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

