<div *ngIf="authorized && noRES" class="container">
    <h1 class="text-center">Share</h1>
    <form [formGroup]="shareForm" (ngSubmit)="share()">
        <input type="number" name="viewLimit" class="form-control mb-3" placeholder="View limit" formControlName="viewLimit">
        <div *ngIf="ViewLimit?.touched && ViewLimit?.getError('required')" class="alert alert-danger" role="alert">
          View limit is required!  
        </div>
        <label for="ttl">Expire date (not required)</label> 
        <input type="datetime-local" class="form-control mb-3" name="ttl" formControlName="ttl">
        <div *ngIf="TTL?.touched && TTL?.getError('tooEarly')" class="alert alert-danger" role="alert">
            Expire date is too early! It must be at least 5 hour difference from now!
          </div> 
          <div class="row mb-3 ">
              <div class="col text-center">
                  <button (click)="share()" type="button" *ngIf="showShareBTN"[disabled]="shareForm.invalid" class="btn btn-lg btn-primary">Share</button>
                  <div class="text-center" *ngIf="showLoading">
                      <div class="spinner-border text-primary" role="status">
                          <span class="sr-only"></span>
                      </div>
                  </div>
              </div>
          </div>
        </form>
</div>
<div class="container">
    <div *ngIf="!noRES" class="alert alert-info mb-2 text-center" role="alert">
        <a [href]="domainURL+'/secrets/'+res.url" >{{domainURL+'/secrets/'+res.url}}</a>
    </div>
    <div *ngIf="noRES && reqError?.status ===400" class="alert alert-danger" role="alert">
        Url format is not correct! 
    </div>
    <div *ngIf="noRES && reqError?.status ===404" class="alert alert-danger" role="alert">
            Secret does not exist!
    </div>
    <div *ngIf="noRES && reqError?.status ===403" class="alert alert-danger" role="alert">
        Secret is not yours!
    </div>
    <div *ngIf="!authorized" class="alert alert-danger" role="alert">
        You must login first! 
    </div>
    <div *ngIf="noRES && reqError?.status ===500" class="alert alert-danger" role="alert">
        Iternal server error!
</div>
</div>