<div *ngIf="!authorized" class="container p-4">
    <div class="alert alert-warning m-3 text-center" role="alert">
        <strong> Login first! </strong>
    </div>
</div>
<div class="d-flex justify-content-center" *ngIf="showLoading">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
</div>
<div class="container p-4">
    <div class="card m-3" *ngFor="let secret of secrets;">
        <h5 class="card-header">{{secret.title}}</h5>
        <div class="card-body">
            <p class="card-text mb-2">{{secret.text}}</p>
            <div class="container mb-2" *ngIf="secret.url!==null">
                <div class="row mb-2">
                    <div class="col text-center">
                            <a [href]="secret.url" >Link to the secret</a>
                    </div>
                    <div class="col text-center">
                            Viewed: {{secret.viewCounter}}/{{secret.viewLimit}}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col text-center">
                        {{secret.ttl!==null ? "Expires at: "+secret.ttl:''}}
                        <div *ngIf="secret.viewCounter==secret.viewLimit || (secret.ttl!==null && secret.ttl.valueOf< today.valueOf)" class="alert alert-primary mb-2" role="alert">
                            This secret has expired!
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="secret.url===null" class="alert alert-info mb-2 text-center" role="alert">
                Secret has not been shared yet.
              </div>
            <div class="container text-center mb-2">
                <a href="#" class="btn btn-primary">Share</a>
            </div>
        </div>
      </div>
</div>